<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario Tienda</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <h1>Inventario de Productos</h1>
        <div class="form-group">
            <input type="text" id="productName" placeholder="Nombre del producto">
            <input type="number" id="productPrice" placeholder="Precio del producto">
            <button id="add-btn">Agregar Producto</button>
        </div>
        <div class="form-group">
            <input type="text" id="searchQuery" placeholder="Buscar producto por nombre">
            <button id="search-btn">Buscar Producto</button>
        </div>
        <div class="form-group">
            <button id="min-price-btn">Producto con Menor Precio</button>
            <button id="max-price-btn">Producto con Mayor Precio</button>
            <button id="print-all-btn">Imprimir Todos los Productos</button>
        </div>
    </div>
    <script src="../scripts/dependencies.js" type="module"></script>
    <script src="../scripts/scripts.js" type="module"></script>
</body>
</html>